/* Inserta tu codigo aqui */
.container-hero {
	background-color: whitesmoke;
    text-align:"center";
}
.container-hero h3 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
}

.imgs-blog {
	background-repeat: no-repeat;
	background-position: center;
	width: 250px;
}
.blog1 {
    height: 250px;
    width: 350px;
}

.profesor_5 {
	background-image: url(../img/profesor_5.jpg);
    width: 250px;
}
.instructor_3 {
	background-image: url(../img/instructor_3.jpg);
    width: 250px;
}
.info {
	margin-bottom: -12px;
	font-size: 21px;
}
.vermas {
	padding: 10px 70px;
	background-color: #192951;
	border-radius: 3px;
	margin-top: 40px;
	display: inline-block;
}
.arts {
	background-color: #CCC9D4;
	margin-left: -27px !important;
}
.pad-arts {
	padding: 10px 0px 7px 40px;
}
