/* Inserta tu codigo aqui */
/*-------------------------------------------------------------------------------------------HERO*/
.hero h2 {
    font-size: 16px;
    font-weight: bold;
    color:#000000;
    padding-top: 40px;
    margin-top: 0px;
}
.hero .danza {
    height: 440px;
    width: 100%;
    display:table;
    margin-top: 20px;
}
.hero .info {
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}
.hero h4,p {
    padding: 10px 30px;
    margin:0px 15px;
    color:#c9c9c9;
    background: rgba(0,0,0,0.8);
}
.hero h4 {
    font-weight: bold;
    font-size: 15px;
}
.hero {
    padding-bottom: 50px;
}
.hero .uno {
    background: url(../img/dance_12.jpg) no-repeat;
    background-size: cover;
}
.hero .dos {
    background: url(../img/breakdance.jpg) no-repeat;
    background-size: cover;
}
.hero .tres {
    background: url(../img/lirical-jazz.jpg) no-repeat;
    background-size: cover;
}
.hero .cuatro {
    background: url(../img/arabe.jpg) no-repeat;
    background-size: cover;
}
.hero .cinco {
    background: url(../img/little.jpg) no-repeat;
    background-size: cover;
}
.hero .seis {
    background: url(../img/yoga.jpg) no-repeat;
    background-size: cover;
}



/*------------------------------------------------------------------------------------CONTENIDO*/

