/* Inserta tu codigo que es común para todas las páginas aqui */
* {
    margin: 0;
    padding: 0;
    outline: 1px solid rgba(255,0,0,0.4);
}
header {
    text-align: center;
    color:#192951;
}
header h1 {
    font-size: 20px;
    font-weight: bold;
    color:#192951;
}
header ul {
    list-style: none;
    
}
header li {
    display: inline-block;
}
