/* Inserta tu codigo que es común para todas las páginas aqui */
* {
    margin: 0;
    padding: 0;
    outline: 1px solid rgba(255,0,0,0.4);
}
.contenedor {
    margin:0px;
    padding-left: 100px;
    padding-right: 100px;
}
header {
    text-align: center;
}
header h1 {
    font-size: 20px;
    font-weight: bold;
}
.nav {
    list-style: none;
}
.nav li {
    display: inline-block;
}
.nav li a {
    padding:10px 25px;
    color:#a0a0a0;
}
/***************CONTACTANOS*********/
.contenido {
    background: url(../img/shoes_1.jpg) no-repeat;
    background-position: right;
    height: 466px;
    padding-top: 40px;
}
.contenido h2 {
    font-weight: bold;
}
.contenido form {
    width: 52%;
    padding: 20px 0 20px 0px;
}
.contenido input {
    display: inline-block;
    width: 100%;
    padding: 5px 0px 5px 40px;
}
.contenido .message {
    padding-bottom: 80px;
}
.contenido .send {
    background: #192951;;
    padding: 14px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}
.contenido .name {
    position: relative;
    top:-28px;
    left:10px;
}
.contenido .mail {
    position:relative;
    top:-29px;
    left:10px;
}
.contenido  .pen {
    position:relative;
    top:-103px;
    left:10px;
}

/***************FOOTER*********/
footer {
    background: #192951;
    padding: 15px 0 3px 20px;
    color: #fff;
}
