/* Inserta tu codigo aqui */
/***************HERO*********/
.hero {
    background: url(../img/dance_1.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    display: table;
}

.hero .studio{
    width: 250px;
    height: 100px;
    display: inline-block;
    color:#fff;  
    margin-top: 60px;
    margin-left: 100px; 
}

.hero .studio h1{
    font-weight: bolder; 
    font-size: 50px;
    padding-bottom: 20px;
    font-size: 50px;
}

.hero .studio p{
    padding-bottom: 20px;
    font-size: 15px;
}

.boton1 {
    display: block; 
    width: 120px;
    border-radius: 5px;
    position:relative;
    top: 10%; 
    text-align: center;
    color: white;
    background-color: #00001a;
    line-height: 40px;
    vertical-align: middle;
}

/***************OFERTAS*********/
.ofertas {
    width: 100%; 
    height: 300px; 

}

.descripcion{
    width: 600px;
    height: 70px;
    text-align: center;
    margin: 80px auto;
    font-size: 20px;
}
.decoracion{
    width: 150px;
    height: 80px;
    display: block;
    margin: 20px auto;
}

.boton2 {
    display: block; 
    width: 400px;
    border-radius: 5px;
    position:relative;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #00004d;
    line-height: 80px;
    vertical-align: middle;
}
/***************INSTRUCTORES*********/

.instructores {
    margin-top: 80px;
    height: 345px;
}
.instructor1 {
    background: url(../img/instructor_4.jpg) no-repeat;
    background-size: cover;
    height: 345px;
     }

.instructor2 {
    background: url(../img/profesor_9.jpg) no-repeat;
    background-size: cover;
    height: 345px;
}

.boton3 {
    display: inline-block; 
    width: 600px; 
    position:relative;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: #00004d;
    line-height: 80px;
    vertical-align: middle;
}

/***************FRASE***************/
.motivacion {
    background-image: url("../img/cubes.png");
    background-size:cover;
    width: 100%;
    line-height: 250px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

/***************UBICACION***************/
.ubicacion{
    background-color: #00004d;
    height: 400px;
    color: white;
}

.visitanos {
    text-align: center;
}

.row .mapa{
    top: 50%; 
    left: 50%;
    transform: translateX(-75%) translateY(25%);
}

.visita{
    top: 50%; 
    left: 50%;
    transform: translateX(-130%) translateY(25%);
    text-align: left;
}

/***************CONTACTANOS*********/
.contenido {
    background: url(../img/shoes_1.jpg) no-repeat;
    background-position: right;
    height: 466px;
    padding-top: 40px;
}
.contenido h2 {
    font-weight: bold;
}
.contenido form {
    width: 52%;
    padding: 20px 0 20px 0px;
}
.contenido label {
    font-size: 26px;
    position: absolute;
}
.contenido input, textarea {
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 40px;
    margin: 7px 0;
}
.contenido textarea {
    min-width: 100%;
    max-width: 100%;
    height: 100px;
}
.contenido .send {
    background: #192951;;
    padding: 14px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}

/***************FOOTER*********/
