/***************HERO*********/
.hero {
	background: url(../img/dance_7.jpg) no-repeat;
	background-size: 130%;
	width: 100%;
	height: 500px;
	display: table;
}

.transparent {
	background-color: rgba(0,0,0,0.4);
	color: white;
	margin: 0 auto;
	text-align: center;
	width: 550px;
	padding: 30px;
}

/***************PILARES*********/
.pilares{
	background-image: url("../img/cubes.png");
	text-align: center;
	color: darkgrey;
}

.pilares .first-row{
	margin: 0 auto;
	display: inline-block;
}
.pilar{
	width: 280px; 
	display: inline-block;
	padding: 40px;

}

.pilar h3{
	border-bottom: 1px solid #333; 
	padding: 10px 0;
	font-weight: bold;
}

/***************PROFESORES*********/
.profesores {
	text-align: center;
	padding: 30px 0 40px 0;
}

.profesores .title {
	text-align: center;
	font-weight: bolder;
}

.profesores .first-list, .second-list{
	margin: 0 auto;
	display: inline-block;
}

.profesores .first-list {
	padding-bottom: 20px;
}

.profesor div{
	width: 190px; height: 150px;
}

.profesor {
	padding: 40px 20px 60px 20px; 
	text-align: left;
	}

.profesor h4{
	padding-top: 10px;
	margin-top: 150px;
	display: inline-block;
	font-weight: bold;
}


.p1{
	background-image: url("../img/profesor_4.jpg");
	background-size: cover; 
	}
.p2{
	background-image: url("../img/profesor_14.jpg"); 
	background-size: cover; 
}
.p3{
	background-image: url("../img/profesor_1.jpg"); 
	background-size: cover; 
}
.p4{
	background-image: url("../img/profesor_10.jpg"); 
	background-size: cover; 
}
.p5{
	background-image: url("../img/profesor_11.jpg"); 
	background-size: cover; 
}
.p6{
	background-image: url("../img/profesor_12.jpg"); 
	background-size: cover; 
}
.p7{
	background-image: url("../img/profesor_9.jpg"); 
	background-size: cover; 
}
.p8{
	background-image: url("../img/profesor_15.jpg"); 
	background-size: cover; 
}

/***************FRASE*********/
.nosotros{
	background-image: url("../img/cubes.png");
	width: 100%;
	line-height: 250px;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
}



/***************FOOTER*********/
